In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_columns',200)
columns=['id','name', 'host_id', 'host_name', 'host_since', 'host_location', 'host_is_superhost',  'host_listings_count','host_total_listings_count', 'neighbourhood', 
         'neighbourhood_cleansed', 'city', 'zipcode','latitude', 'longitude','property_type','room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds', 'bed_type', 
         'price', 'minimum_nights', 'maximum_nights','calendar_updated', 'availability_365', 'number_of_reviews', 'review_scores_rating',
         'instant_bookable', 'calculated_host_listings_count',  'reviews_per_month']
listings=pd.read_csv('listings.csv.gz',usecols=columns)
listings['host_since']=pd.to_datetime(listings['host_since'])
listings.head()

,id,name,host_id,host_name,host_since,host_location,host_is_superhost,host_listings_count,host_total_listings_count,neighbourhood,neighbourhood_cleansed,city,zipcode,latitude,longitude,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,price,minimum_nights,maximum_nights,calendar_updated,availability_365,number_of_reviews,review_scores_rating,instant_bookable,calculated_host_listings_count,reviews_per_month
0,11156,An Oasis in the City,40855,Colleen,2009-09-23,"Potts Point, New South Wales, Australia",f,1.0,1.0,Elizabeth Bay/Rushcutters Bay,Sydney,Potts Point,2011,-33.86917,151.22656,Apartment,Private room,1,1.0,1.0,0.0,Real Bed,$64.00,2,180,3 months ago,364,196,92.0,f,1,1.53
1,12351,Sydney City & Harbour at the door,17061,Stuart,2009-05-14,"Sydney, New South Wales, Australia",f,2.0,2.0,Pyrmont,Sydney,Pyrmont,2009,-33.86515,151.19190,Townhouse,Private room,2,1.0,1.0,1.0,Real Bed,"$14,314.00",2,7,7 months ago,0,526,95.0,f,2,4.37
2,14250,Manly Harbour House,55948,Heidi,2009-11-20,"Sydney, New South Wales, Australia",t,2.0,2.0,Balgowlah,Manly,Balgowlah,2093,-33.80093,151.26172,House,Entire home/apt,6,3.0,3.0,3.0,Real Bed,$471.00,5,22,2 months ago,173,2,90.0,f,2,0.04
3,44545,Sunny Darlinghurst Warehouse Apartment,112237,Atari,2010-04-22,"Sydney, New South Wales, Australia",t,1.0,1.0,Surry Hills,Sydney,Darlinghurst,2010,-33.87888,151.21439,Loft,Entire home/apt,2,1.0,1.0,1.0,Real Bed,$130.00,3,365,6 months ago,0,76,97.0,f,1,0.65
4,58506,"Studio Yindi @ Mosman, Sydney",279955,John,2010-11-06,"Sydney, New South Wales, Australia",f,1.0,1.0,Mosman,Mosman,Mosman,2088,-33.81927,151.23652,House,Entire home/apt,4,1.0,1.0,1.0,Real Bed,$140.00,2,90,5 weeks ago,267,280,91.0,f,1,2.43

In [54]:
listings.shape
# listings['host_since'].dt.year
listings.review_scores_rating.isnull().sum()

11427

In [49]:
# listings.host_since.min()
listings.host_since.dtype
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36901 entries, 0 to 36900
Data columns (total 32 columns):
id                                36901 non-null int64
name                              36889 non-null object
host_id                           36901 non-null int64
host_name                         36894 non-null object
host_since                        36894 non-null datetime64[ns]
host_location                     36850 non-null object
host_is_superhost                 36894 non-null object
host_listings_count               36894 non-null float64
host_total_listings_count         36894 non-null float64
neighbourhood                     31769 non-null object
neighbourhood_cleansed            36901 non-null object
city                              36873 non-null object
zipcode                           36776 non-null object
latitude                          36901 non-null float64
longitude                         36901 non-null float64
property_type                     36901 non-null object
room_type                         36901 non-null object
accommodates                      36901 non-null int64
bathrooms                         36879 non-null float64
bedrooms                          36830 non-null float64
beds                              36456 non-null float64
bed_type                          36901 non-null object
price                             36901 non-null object
minimum_nights                    36901 non-null int64
maximum_nights                    36901 non-null int64
calendar_updated                  36901 non-null object
availability_365                  36901 non-null int64
number_of_reviews                 36901 non-null int64
review_scores_rating              25474 non-null float64
instant_bookable                  36901 non-null object
calculated_host_listings_count    36901 non-null int64
reviews_per_month                 26628 non-null float64
dtypes: datetime64[ns](1), float64(9), int64(8), object(14)
memory usage: 9.0+ MB